@{
    ViewBag.Title = "Index";
}
@using System.Web.Optimization

@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/knockout")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <h2>Form Authentication MVC Demo Project</h2><br /><br />
</head>
<body>
    <div>
        
<h3>Welcome Guest - This is for all the anonymous user</h3>
    </div>
</body>
</html>
